body {
  font-family: 'Prompt', sans-serif !important;
  background: #001220 !important;
  color: white !important;
}

.App {
  text-align: center;
}

section {
  position: relative;
  width: 100vw;
  min-height: 400px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 300px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}

.spacer {
  aspect-ratio: 900/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: url('./waves-new.svg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg-secondary-custom {
  background-color: #f8f8f9;
}

.box-shadow-custom {
  box-shadow: 1px 1px 5px #88888854
}

.question-box {
  margin: 20px 0px;
  padding: 5px;
}

.body-container {
  margin: 20px 300px;
  padding: 10px 20px;
}

.login-page {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 20%;
  height: 50%;
}

.border-custom {
  border: 1px solid rgba(153, 152, 151, 0.5);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
